* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
}

.grid {
    box-sizing: content-box;
    border: 3px solid;
    width: 800px;
    height: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.square {
    border: 1px solid black;
}