* {
    box-sizing: border-box;
}

body {
    background-color: darkseagreen;
}

.container {
    display: flex;
    justify-content: center;
}

.grid {
    box-sizing: content-box;
    border: 2px solid;
    width: 960px;
    height: 960px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.square {
    border: 1px solid rgb(137, 140, 144);
    background-color: oldlace;
}